@import "../styles/variables";

@mixin card-wrapper-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

@mixin centered-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include centered-layout();
    font-size: 15px;
    background-color: $very-light-gray;
}

header {
    text-align: center;
    padding: 20px;
    @include centered-layout();
    margin-bottom: 30px;
}

.title {
    font-weight: 200;
}

.header--desc {
    margin: 0;
    max-width: 500px;
    font-size: 0.9rem;
}

p {
    color: $grayish-blue;
}

.card {
    height: 200px;
    width: 300px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 17px 3px rgba(218, 218, 224, 1);
    position: relative;
    padding: 20px;
    margin: 0 20px 40px 20px;
}

.cards-wrapper {
    align-items: center;
    width: 100%;
    @include card-wrapper-layout()
}

img {
    width: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 25px;
}

.red {
    border-top: 5px solid $red;
}

.cyan {
    border-top: 5px solid $cyan;
}

.orange {
    border-top: 5px solid $orange;
}

.blue {
    border-top: 5px solid $blue;
}

@media (min-width: 700px) and (max-width: 900px) {
    .grid-wrapper {
        @include card-wrapper-layout()
    }
}

@media screen and (max-width: 640px) {
    .title {
        font-size: 1.3rem;
    }

    .header--desc {
        max-width: 300px;
    }

    .card {
        height: 200px;
        width:  250px;
        margin: 15px 0;
    }

    header {
        margin-bottom: 30px;
    }

    img {
        width: 40px;
    }

    .cards-wrapper {
        display: flex;
        flex-direction: column;
    }

    .red {
        margin-bottom: 10px;
    }

    .cyan {
        margin-bottom: 25px;
    }

    .orange {
        margin-bottom: 10px;
    }
}